:root.theme-dark {
  --bg-image: url(./../images/cover-image-dark.png); /*картинка фона страницы */
  --bg-color: #000028; /*фоновый цвет сраницы*/
  --title-color: #DB00FF; /*цвет  заголовка в шапке и в подвале*/
  --accent-color: #FF0070; /*цвет тени  заголовка шапки и подвала, надписи REC и декоративной точки, фона заголовка карточки, тени ссылки*/ 
  --decor-font-color: #000028; /*цвет заголовка карточки*/
  --content-title-color: #FF0070; /*цвет декоративных уголков, кнопок, заголовка секции*/
  --content-font-color: #F1B2CE; /*цвет текста параграфа, выделения ссылки в состоянии фокус и hover*/
  --hover-color-border: rgba(255, 0, 112, 0.40); /*цвет веделения кнопки в состоянии hover*/
}

.theme-dark .header__text-decor {
  display: block;
}

